.product-list-page {
  background-color: white;
  padding: 40px;

  .top-row {
    display: flex;
    align-items: flex-end;
    padding: 30px 40px;
  }

  .title-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: none;
    min-width: 250px;
  }

  .page-title {
    color: #000000;
    font-size: 25px;
    font-weight: bold;
    margin: 0;
    text-align: left;
    font-family: "Afacad", sans-serif;
  }

  .page-subtitle {
    color: #757575;
    font-size: 16px;
    font-style: italic;
    margin-top: 5px;
    margin-bottom: 0;
  }

  .product-grid {
    display: grid;
    grid-template-columns: repeat(4, 250px);
    gap: 30px;
    padding: 40px 40px;
    justify-content: center;
  }

  .product-card {
  width: 250px;
  height: 320px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 1.5em;
  border: 1px solid #e0e0e0;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease;


    .product-image-container {
      width: 100%;
      height: 180px;
      overflow: hidden;
      border-radius: 12px;
      margin-bottom: 10px;

      img.product-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 12px;
        display: block;
      }
    }

    h3 {
      font-size: 1.3rem;
      font-weight: bold;
      margin-bottom: 10px;
      color: #333;
    }

    p {
      font-size: 1rem;
      color: #666;
      margin-bottom: 10px;
    }

    .product-link {
      display: inline-block;
      padding: 8px 16px;
      background-color: #3A5A40;
      color: white;
      border-radius: 1rem;
      font-weight: 500;
      text-decoration: none;

      &:hover {
        background-color: #2e4833;
      }
    }
  }

  .product-card:hover {
    transform: translateY(-4px);
  }

  .back-link {
    display: inline-block;
    padding: 8px 16px;
    background-color: #3A5A40;
    color: white;
    border-radius: 1rem;
    font-weight: 500;
    text-decoration: none;

    &:hover {
      background-color: #2e4833;
    }
  }
}

.btn-location{
  background-color: #3A5A40;
  font-size: 15px;
  margin-left: 18px;
  margin-bottom: 4px;
  display: inline-block;
}
