// Specific CSS for your home-page
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://res.cloudinary.com/draltripq/image/upload/v1750156486/nrd-D6Tu_L3chLE-unsplash_pdvf6t.jpg");
  min-height: 500px;
  margin-top: 3rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,.2);
}

.hero-text {
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.hero-text h2 {
  font-size: 2.6rem;
  font-weight: bold;
  margin-bottom: 2rem;
  line-height: 1.2;
  margin-right: 13.5rem;
  max-width: 900px;
}

.hero-text p {
  max-width: 700px;
  font-size: 1.1rem;
  margin-bottom: 2.5rem;
  line-height: 1.6;
  opacity: 0.95;
}

button {
  background-color: #3A5A40;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background-color: #582f0e;
  }

  a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    font-weight: bold;
  }
}

.features {
  padding-top: 0.5rem;
  padding-bottom: 0rem;
}

.features-container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  text-align: center;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  .feature-icon {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    height: 80px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .heart-icon {
    color: #880d1e;
  }

  .shield-icon {
    color: #023047;
  }

  .smile-icon {
    color: #37b600;
  }

  h3 {
    font-size: 1.7rem;
    margin-bottom: 1rem;
    color: #000000;
    font-weight: bold;
  }

  p {
    color: #666;
    line-height: 1.6;
    font-size: 1.1rem;
  }
}
