// Import page-specific CSS files here.
@import "home";
@import "farmer_show";

.farmers-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: white;
}

.top-row {
  display: flex;
  flex: none;
  position: sticky;
  top: 0;
  background: white;
  z-index: 10;
  padding-bottom: 20px;
}

.title-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: none;
  min-width: 250px;
}

.page-title {
  color: #000000;
  font-size: 25px;
  font-weight: bold;
  margin: 0;
  text-align: left;
  font-family: "Afacad", sans-serif;
}

.page-subtitle {
  color: #757575;
  font-size: 16px;
  font-style: italic;
  margin-top: 5px;
}

.main-content {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.farmers-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 40px;
  height: 100%;
}



.farmers-layout {
  flex: 1;
  overflow-y: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding-top: 10px;

  &::-webkit-scrollbar {
    display: none;
  }
}

.farmer-card-link {
  text-decoration: none;
}

.farmer-card {
  background: white;
  border-radius: 1.5rem;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease;
  border: 1px solid #e0e0e0;
  min-height: 250px;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.farmer-card:hover {
  transform: translateY(-4px);
}


.farmer-name {
  color: #000000;
  font-size: 24px;
  font-weight: bold;
}

.farmer-contact, .farmer-address {
  color: #666;
  font-size: 14px;
  margin: 5px 0;
}

.farmer-contact span, .farmer-address span {
  font-weight: 600;
  color: #000000;
}

.farmer-description {
  color: #666;
  font-size: 13px;
  line-height: 1.4;
  margin-top: 10px;
  font-style: italic;
}

.map-section {
  position: relative;
  width: 40%;
  height: 100%;
}

.map-container {
  width: 100%;
  height: 100%;
}
