<footer class="footer">
  <div class="footer-container">
    <div class="footer-section left-section">
      <div class="brand">
        <h4>GreenMarket</h4>
      </div>
      <div class="copyright">
        <p>&copy; 2025 GreenMarket ALL RIGHTS RESERVED</p>
      </div>
    </div>

    <div class="footer-section right-section">
      <div class="contact">
        <h5>Contact us</h5>
        <a href="#">email@greenmarket.com</a>
        <a href="#">+230 56476373</a>
      </div>
      <div class="social-icons">
        <i class="fab fa-facebook fa-lg"></i>
        <i class="fab fa-instagram fa-lg"></i>
        <i class="fab fa-twitter fa-lg"></i>
      </div>
    </div>
  </div>
</footer>
