<div class="footer">
  <div class="footer-copyright">
    <p>GreenMarket</p>
    <p>
      Empowering local farmers and delivering fresh, trusted
      <br>
      produce to your doorstep.
    </p>
  </div>

  <div class="footer-links">
    <p>Useful Links</p>
    <a href="#">Our Farmers</a>
    <br>
    <a href="#">My Account</a>
  </div>

  <div class="footer-contact">
    <p>Contact</p>
    <p>
      email@greenmarket.com
      <br>
      📞 +230 56476373
    </p>
  </div>
</div>
