<div class="hero-image">
  <div class="hero-text px-4">
    <h2>Connecting farmers & customers in real-time</h2>
    <p>Discover fresh, locally grown products straight from trusted farmers near you. Simple, fast, and sustainable -- GreenMarket brings the market to your fingertips.</p>
    <button>View all farmers</button>
  </div>
</div>
