<div class="home-page">
  <div class="hero-image">
    <div class="hero-text px-4">
      <h2>Connecting farmers & customers in real-time</h2>
      <p>Discover fresh, locally grown products straight from trusted farmers near you. Simple, fast, and sustainable -- GreenMarket brings the market to your fingertips.</p>
      <button class="home-button"><%= link_to "View All Farmers", farmers_path %></button>
    </div>
  </div>

  <section class="features">
    <div class="features-container">
      <div class="feature">
        <div class="feature-icon heart-icon"><i class="fa-regular fa-heart"></i></div>
        <h3>Local Support</h3>
        <p>Back your local farmers with every order.</p>
      </div>
      <div class="feature">
        <div class="feature-icon shield-icon"><i class="fa-solid fa-shield-halved"></i></div>
        <h3>Trust & Safety</h3>
        <p>Shop confidently with trusted sellers.</p>
      </div>
      <div class="feature">
        <div class="feature-icon smile-icon"><i class="fa-regular fa-face-smile"></i></div>
        <h3>Feel Good</h3>
        <p>Fresh produce that makes a difference.</p>
      </div>
    </div>
  </section>
</div>
